In [6]:
import pandas as pd

In [8]:
df = pd.read_csv('EXPORT82100618.csv')

In [10]:
df.shape

(15290, 19)

In [24]:
df.head()

,Article,Article Description,Movement Type Text,Movement type,Qty in unit of entry,Reference,Entry Date,Sales Value inc. VAT,Sales Value,Document Header Text,Document Date,Order Price Unit,Qty in OPUn,Amt.in loc.cur.,Purchase order,Base Unit of Measure,Debit/Credit ind,User Name,Trans./Event Type
0,513315,Kiehls Ultra F. S0316500 CL,GI Sales DOMESTIC,X51,-1,13607,18/06/2022,-190.00,-180.50,POS/8210,18/06/2022,NaN,0.0,-95.09,NaN,PC,H,BWREMOTE_P34,WA
1,1047401,L'Occi Verben 15MA075VB4 HDCR,GI Sales DOMESTIC,X51,-1,13579,18/06/2022,-185.00,-195.00,POS/8210,18/06/2022,NaN,0.0,-86.70,NaN,PC,H,BWREMOTE_P34,WA
2,1416524,Ritual Sakura 1106567 BOSCR,GI Sales DOMESTIC,X51,-1,23917,18/06/2022,-145.00,-116.00,POS/8210,18/06/2022,NaN,0.0,-50.82,NaN,PC,H,BWREMOTE_P34,WA
3,1438850,Cliniq Even Better KN0Y01 WHIT,GI Sales DOMESTIC,X51,-1,23883,18/06/2022,-710.00,-705.00,POS/8210,18/06/2022,NaN,0.0,-406.34,NaN,PC,H,BWREMOTE_P34,WA
4,1456803,L'Occi Rose 24MA150R19 HDCR,GI Sales DOMESTIC,X51,-1,13603,18/06/2022,-245.00,-255.00,POS/8210,18/06/2022,NaN,0.0,-114.57,NaN,PC,H,BWREMOTE_P34,WA

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15290 entries, 0 to 15289
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Article               15290 non-null  int64
 1   Article Description   15290 non-null  object
 2   Movement Type Text    15290 non-null  object
 3   Movement type         15290 non-null  object
 4   Qty in unit of entry  15290 non-null  object
 5   Reference             14386 non-null  object
 6   Entry Date            15290 non-null  object
 7   Sales Value inc. VAT  15290 non-null  object
 8   Sales Value           15290 non-null  object
 9   Document Header Text  9779 non-null   object
 10  Document Date         15290 non-null  object
 11  Order Price Unit      5084 non-null   object
 12  Qty in OPUn           15290 non-null  float64
 13  Amt.in loc.cur.       15290 non-null  object
 14  Purchase order        5084 non-null   float64
 15  Base Unit of Measure  15290 non-null  object
 16  Debit/Credit ind      15290 non-null  object
 17  User Name             15290 non-null  object
 18  Trans./Event Type     15290 non-null  object
dtypes: float64(2), int64(1), object(16)
memory usage: 2.2+ MB

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15290 entries, 0 to 15289
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Article               15290 non-null  int64
 1   Article Description   15290 non-null  object
 2   Movement Type Text    15290 non-null  object
 3   Movement type         15290 non-null  object
 4   Qty in unit of entry  15290 non-null  object
 5   Reference             14386 non-null  object
 6   Entry Date            15290 non-null  object
 7   Sales Value inc. VAT  15290 non-null  object
 8   Sales Value           15290 non-null  object
 9   Document Header Text  9779 non-null   object
 10  Document Date         15290 non-null  object
 11  Order Price Unit      5084 non-null   object
 12  Qty in OPUn           15290 non-null  float64
 13  Amt.in loc.cur.       15290 non-null  object
 14  Purchase order        5084 non-null   float64
 15  Base Unit of Measure  15290 non-null  object
 16  Debit/Credit ind      15290 non-null  object
 17  User Name             15290 non-null  object
 18  Trans./Event Type     15290 non-null  object
dtypes: float64(2), int64(1), object(16)
memory usage: 2.2+ MB

In [28]:
pd.set_option('display.max_columns',85)
pd.set_option('display.max_rows',85)

In [30]:
df.columns

Index(['Article', 'Article Description', 'Movement Type Text', 'Movement type',
       'Qty in unit of entry', 'Reference', 'Entry Date',
       'Sales Value inc. VAT', 'Sales Value', 'Document Header Text',
       'Document Date', 'Order Price Unit', 'Qty in OPUn', 'Amt.in loc.cur.',
       'Purchase order', 'Base Unit of Measure', 'Debit/Credit ind',
       'User Name', 'Trans./Event Type'],
      dtype='object')

In [31]:
df.iloc[[0,1],2]

0    GI Sales DOMESTIC
1    GI Sales DOMESTIC
Name: Movement Type Text, dtype: object

In [42]:
df.loc[[0,5],["Article","Article Description","Movement Type Text","Entry Date"]]

   Article           Article Description Movement Type Text  Entry Date
0   513315   Kiehls Ultra F. S0316500 CL  GI Sales DOMESTIC  18/06/2022
5  1471331  Ritual Ayurveda 1107157 HOME  GI Sales DOMESTIC  18/06/2022

In [44]:
df["Movement Type Text"].value_counts()

GI Sales DOMESTIC       5310
GI Sales without ED     3727
GR goods receipt        3540
GR for acct assgmnt     1484
GI for cost center       206
blocked to unrestr.      154
unrestr. to blocked      140
RE Sales Non-EU          134
RE Sales DOMESTIC        131
TF trfr plnt to plnt      91
scrap Shop to WH          87
RE for cost center        81
GR phys.inv.: whse        77
GI phys.inv.: whse        66
GR for PO   reversal      60
TF tfr ps.mat.to mat       2
Name: Movement Type Text, dtype: int64

In [55]:
df.loc[0:100,"Movement type":"Entry Date"]

    Movement type Qty in unit of entry Reference  Entry Date
0             X51                   -1     13607  18/06/2022
1             X51                   -1     13579  18/06/2022
2             X51                   -1     23917  18/06/2022
3             X51                   -1     23883  18/06/2022
4             X51                   -1     13603  18/06/2022
..            ...                  ...       ...         ...
96            X51                   -1     23643  15/06/2022
97            X51                   -1     23643  15/06/2022
98            X51                   -1     23611  15/06/2022
99            X51                   -1     23657  15/06/2022
100           X51                   -1     23611  15/06/2022

[101 rows x 4 columns]

In [59]:
new_df = df.set_index("Movement Type Text",inplace=True)

In [64]:
df.index

Index(['GI Sales DOMESTIC', 'GI Sales DOMESTIC', 'GI Sales DOMESTIC',
       'GI Sales DOMESTIC', 'GI Sales DOMESTIC', 'GI Sales DOMESTIC',
       'GI Sales DOMESTIC', 'GI Sales DOMESTIC', 'GI Sales DOMESTIC',
       'GI Sales DOMESTIC',
       ...
       'GR goods receipt', 'GR goods receipt', 'GR goods receipt',
       'GR goods receipt', 'GR goods receipt', 'GR goods receipt',
       'GR for acct assgmnt', 'GR for acct assgmnt', 'GR for acct assgmnt',
       'GR for acct assgmnt'],
      dtype='object', name='Movement Type Text', length=15290)

In [65]:
import session_info

ModuleNotFoundError: No module named 'session_info'